openapi: 3.0.3
info:
  description: "At BlueSnap, we look at payments a little differently. Our Payment\
    \ Orchestration Platform helps businesses accept payments globally and is designed\
    \ to increase revenue and reduces costs. We provide a comprehensive back-end solutions\
    \ that simplifies the complexity of payments, managing the full process from start\
    \ to finish.\n\nBlueSnap supports payments through multiple sales channels such\
    \ as online and mobile sales, marketplaces, subscriptions, invoice payments and\
    \ manual orders through a virtual terminal. And for businesses looking for embedded\
    \ payments, we offer white-labeled payments for platforms with automated underwriting\
    \ and onboarding that supports marketplaces and split payments.\n\nAnd with one\
    \ integration and contract, businesses can sell in over 200 geographies with access\
    \ to local acquiring in 47 countries, 110+ currencies and 100+ global payment\
    \ types, including popular eWallets, automated accounts receivable, world-class\
    \ fraud protection and chargeback management, built-in solutions for regulation\
    \ and tax compliance, and unified global reporting to help businesses grow.\n\n\
    With a US headquarters in Waltham, MA, and EU headquarters in Dublin, Ireland,\
    \ BlueSnap is backed by world-class private equity investors including Great Hill\
    \ Partners and Parthenon Capital Partners. \n\nLearn more at BlueSnap.com"
  title: API Settings
  version: 8976-Tools
  x-konfig-has-globally-required-security: true
servers:
- url: https://sandbox.bluesnap.com/services/2
security:
- sec0: []
  sec1: []
tags:
- name: Transaction
- name: Subscription
- name: Plan
- name: Shopper
- name: Vendor
- name: Agreement
- name: Reversal
- name: Authorization
paths:
  /transactions:
    post:
      deprecated: false
      description: ""
      operationId: Authorization_createTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizationCreateTransactionRequest'
      responses:
        "200":
          description: OK
      summary: Auth Only
      tags:
      - Authorization
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--transactions
      x-content-type: application/json
      x-accepts: application/json
    put:
      deprecated: false
      description: ""
      operationId: Reversal_authTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReversalAuthTransactionRequest'
      responses:
        "200":
          description: OK
      summary: Auth Reversal
      tags:
      - Reversal
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--transactions
      x-content-type: application/json
      x-accepts: application/json
  /transactions/{transactionId}:
    get:
      deprecated: false
      description: ""
      operationId: Transaction_getById
      parameters:
      - description: transaction ID received in the response from BlueSnap
        explode: false
        in: path
        name: transactionId
        required: true
        schema:
          default: "1011582369"
          example: "1011582369"
          type: string
          x-konfig-original-example: "1011582369"
          x-konfig-generated-schema: konfig-generated-schema-paths--transactions-transactionId-get-parameters-0-schema
        style: simple
      responses:
        "200":
          description: OK
      summary: Retrieve
      tags:
      - Transaction
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--transactions-transactionId
      x-accepts: application/json
  /alt-transactions:
    post:
      deprecated: false
      description: ""
      operationId: Transaction_createSofortTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionCreateSofortTransactionRequest'
      responses:
        "200":
          description: OK
      summary: Create Sofort Transaction
      tags:
      - Transaction
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--alt-transactions
      x-content-type: application/json
      x-accepts: application/json
    put:
      deprecated: false
      description: ""
      operationId: Transaction_updatePaypalTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionUpdatePaypalTransactionRequest'
      responses:
        "200":
          description: OK
      summary: Update PayPal Transaction
      tags:
      - Transaction
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--alt-transactions
      x-content-type: application/json
      x-accepts: application/json
  /alt-transactions/{transactionId}:
    get:
      deprecated: false
      description: ""
      operationId: Transaction_getSepaDd
      parameters:
      - description: transaction ID received in the response from BlueSnap
        explode: false
        in: path
        name: transactionId
        required: true
        schema:
          default: "1014672453"
          example: "1014672453"
          type: string
          x-konfig-original-example: "1014672453"
          x-konfig-generated-schema: konfig-generated-schema-paths--alt-transactions-transactionId-get-parameters-0-schema
        style: simple
      responses:
        "200":
          description: OK
      summary: Retrieve SEPA DD Transaction
      tags:
      - Transaction
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--alt-transactions-transactionId
      x-accepts: application/json
  /alt-transactions/resolve:
    get:
      deprecated: false
      description: ""
      operationId: Transaction_getSofortTransaction
      parameters:
      - description: Order ID received in the Create Sofort Transaction response from
          BlueSnap
        explode: true
        in: query
        name: orderId
        required: true
        schema:
          default: 20922493
          example: 20922493
          format: int32
          type: integer
          x-konfig-original-example: 20922493
          x-konfig-generated-schema: konfig-generated-schema-paths--alt-transactions-resolve-get-parameters-0-schema
        style: form
      responses:
        "200":
          description: OK
      summary: Retrieve Sofort Transaction
      tags:
      - Transaction
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--alt-transactions-resolve
      x-accepts: application/json
  /agreements/debit/{region}/{type}:
    post:
      deprecated: false
      description: for Australia and Canada
      operationId: Agreement_createDebitForAusCan
      parameters:
      - description: "Represents the country. Possible Values: `au`, `ca`"
        explode: false
        in: path
        name: region
        required: true
        schema:
          default: ca
          example: ca
          type: string
          x-konfig-original-example: ca
          x-konfig-generated-schema: konfig-generated-schema-paths--agreements-debit-region-type-post-parameters-0-schema
        style: simple
      - description: "Represents the mandate type. Possible Values: `onetime`,`recurring`,\
          \ `ondemand`"
        explode: false
        in: path
        name: type
        required: true
        schema:
          default: onetime
          example: onetime
          type: string
          x-konfig-original-example: onetime
          x-konfig-generated-schema: konfig-generated-schema-paths--agreements-debit-region-type-post-parameters-1-schema
        style: simple
      - description: SKU number
        explode: true
        in: query
        name: planid
        required: false
        schema:
          type: string
        style: form
      - description: the amount which overrides recurring charge
        explode: true
        in: query
        name: overriderecurringchargeamount
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          description: OK
      summary: Create Debit Agreement
      tags:
      - Agreement
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--agreements-debit-region-type
      x-accepts: application/json
  /agreements/{agreementId}:
    get:
      deprecated: false
      description: for Australia and Canada
      operationId: Agreement_getDebit
      parameters:
      - description: Argument included in the response for the Create Debit Agreement
          request
        explode: true
        in: query
        name: agreementId
        required: false
        schema:
          default: "1065"
          example: "1065"
          type: string
          x-konfig-original-example: "1065"
          x-konfig-generated-schema: konfig-generated-schema-paths--agreements-agreementId-get-parameters-0-schema
        style: form
      responses:
        "200":
          description: OK
      summary: Get Debit Agreement
      tags:
      - Agreement
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--agreements-agreementId
      x-accepts: application/json
  /agreements/prenotification/{transactionId}:
    get:
      deprecated: false
      description: for Australia and Canada
      operationId: Transaction_getPreNotificationDebitAgreement
      parameters:
      - description: Argument included in the response for the Create Debit Agreement
          request
        explode: true
        in: query
        name: transactionId
        required: false
        schema:
          default: "38943468"
          example: "38943468"
          type: string
          x-konfig-original-example: "38943468"
          x-konfig-generated-schema: konfig-generated-schema-paths--agreements-prenotification-transactionId-get-parameters-0-schema
        style: form
      responses:
        "200":
          description: OK
      summary: Get Pre-Notification Debit Agreement
      tags:
      - Transaction
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--agreements-prenotification-transactionId
      x-accepts: application/json
  /alt-transactions/resolve?orderId={orderId}:
    get:
      deprecated: false
      description: ""
      operationId: Transaction_getPaypalTransaction
      parameters:
      - description: order ID received in the response
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          default: "5666625"
          example: "5666625"
          type: string
          x-konfig-original-example: "5666625"
          x-konfig-generated-schema: konfig-generated-schema-paths--alt-transactions-resolve?orderId=orderId-get-parameters-0-schema
        style: simple
      responses:
        "200":
          description: OK
      summary: Retrieve PayPal Transaction
      tags:
      - Transaction
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--alt-transactions-resolve?orderId=orderId
      x-accepts: application/json
  /batch-transactions:
    post:
      deprecated: false
      description: ""
      operationId: Transaction_createBatchTransaction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionCreateBatchTransactionRequest'
      responses:
        "200":
          description: OK
      summary: Create Batch Transaction
      tags:
      - Transaction
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--batch-transactions
      x-content-type: application/json
      x-accepts: application/json
  /batch-transactions/{batchId}:
    get:
      deprecated: false
      description: ""
      operationId: Transaction_getBatchTransaction
      parameters:
      - description: batch ID sent in the Create Batch Transaction request
        explode: false
        in: path
        name: batchId
        required: true
        schema:
          default: "567890"
          example: "567890"
          type: string
          x-konfig-original-example: "567890"
          x-konfig-generated-schema: konfig-generated-schema-paths--batch-transactions-batchId-get-parameters-0-schema
        style: simple
      responses:
        "200":
          description: OK
      summary: Retrieve Batch Transaction
      tags:
      - Transaction
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--batch-transactions-batchId
      x-accepts: application/json
  /transactions/refund/{transactionId}:
    post:
      deprecated: false
      description: ""
      operationId: Transaction_initiateRefund
      parameters:
      - description: ID of the transaction to be refunded <br> Required if not using
          `merchantTransactionId`
        explode: false
        in: path
        name: transactionId
        required: true
        schema:
          default: "1095710747"
          example: "1095710747"
          type: string
          x-konfig-original-example: "1095710747"
          x-konfig-generated-schema: konfig-generated-schema-paths--transactions-refund-transactionId-post-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransactionInitiateRefundRequest'
      responses:
        "200":
          description: OK
      summary: Refund
      tags:
      - Transaction
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--transactions-refund-transactionId
      x-content-type: application/json
      x-accepts: application/json
  /transactions/pending-refund/{transactionId}:
    delete:
      deprecated: false
      description: ""
      operationId: Transaction_cancelPendingRefund
      parameters:
      - description: transactionId received from BlueSnap
        explode: false
        in: path
        name: transactionId
        required: true
        schema:
          default: "1109144995"
          example: "1109144995"
          type: string
          x-konfig-original-example: "1109144995"
          x-konfig-generated-schema: konfig-generated-schema-paths--transactions-pending-refund-transactionId-delete-parameters-0-schema
        style: simple
      responses:
        "200":
          description: OK
      summary: Cancel Pending Refund
      tags:
      - Transaction
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--transactions-pending-refund-transactionId
      x-accepts: application/json
  /vaulted-shoppers:
    post:
      deprecated: false
      description: ""
      operationId: Shopper_createVaultedShopper
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShopperCreateVaultedShopperRequest'
      responses:
        "200":
          description: OK
      summary: Create Vaulted Shopper
      tags:
      - Shopper
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--vaulted-shoppers
      x-content-type: application/json
      x-accepts: application/json
  /vaulted-shoppers/{vaultedShopperId}:
    delete:
      deprecated: false
      description: ""
      operationId: Shopper_deleteVaultedShopper
      parameters:
      - description: vaultedShopperId received from BlueSnap
        explode: false
        in: path
        name: vaultedShopperId
        required: true
        schema:
          default: "20769005"
          example: "20769005"
          type: string
          x-konfig-original-example: "20769005"
          x-konfig-generated-schema: konfig-generated-schema-paths--vaulted-shoppers-vaultedShopperId-delete-parameters-0-schema
        style: simple
      responses:
        "200":
          description: OK
      summary: Delete Vaulted Shopper
      tags:
      - Shopper
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--vaulted-shoppers-vaultedShopperId
      x-accepts: application/json
    get:
      deprecated: false
      description: ""
      operationId: Shopper_get
      parameters:
      - description: vaultedShopperId received from BlueSnap
        explode: false
        in: path
        name: vaultedShopperId
        required: true
        schema:
          default: "20769005"
          example: "20769005"
          type: string
          x-konfig-original-example: "20769005"
          x-konfig-generated-schema: konfig-generated-schema-paths--vaulted-shoppers-vaultedShopperId-get-parameters-0-schema
        style: simple
      responses:
        "200":
          description: OK
      summary: Retrieve Vaulted Shopper
      tags:
      - Shopper
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--vaulted-shoppers-vaultedShopperId
      x-accepts: application/json
    put:
      deprecated: false
      description: ""
      operationId: Shopper_updateVaultedShopper
      parameters:
      - description: vaultedShopperId received from BlueSnap
        explode: false
        in: path
        name: vaultedShopperId
        required: true
        schema:
          default: "40444721"
          example: "40444721"
          type: string
          x-konfig-original-example: "40444721"
          x-konfig-generated-schema: konfig-generated-schema-paths--vaulted-shoppers-vaultedShopperId-put-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShopperUpdateVaultedShopperRequest'
      responses:
        "200":
          description: OK
      summary: Update Vaulted Shopper
      tags:
      - Shopper
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--vaulted-shoppers-vaultedShopperId
      x-content-type: application/json
      x-accepts: application/json
  /recurring/plans:
    post:
      deprecated: false
      description: ""
      operationId: Plan_createRecurringPlan
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanCreateRecurringPlanRequest'
      responses:
        "200":
          description: OK
      summary: Create Plan
      tags:
      - Plan
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--recurring-plans
      x-content-type: application/json
      x-accepts: application/json
  /recurring/plans/{planId}:
    get:
      deprecated: false
      description: ""
      operationId: Plan_getSpecific
      parameters:
      - description: BlueSnap identifier for the plan.
        explode: false
        in: path
        name: planId
        required: true
        schema:
          default: 2283845
          example: 2283845
          format: int32
          type: integer
          x-konfig-original-example: 2283845
          x-konfig-generated-schema: konfig-generated-schema-paths--recurring-plans-planId-get-parameters-0-schema
        style: simple
      responses:
        "200":
          description: OK
      summary: Retrieve Specific Plan
      tags:
      - Plan
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--recurring-plans-planId
      x-accepts: application/json
    put:
      deprecated: false
      description: ""
      operationId: Plan_updateRecurringPlan
      parameters:
      - description: BlueSnap identifier for the plan.
        explode: false
        in: path
        name: planId
        required: true
        schema:
          default: 2111111
          example: 2111111
          format: int32
          type: integer
          x-konfig-original-example: 2111111
          x-konfig-generated-schema: konfig-generated-schema-paths--recurring-plans-planId-put-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlanUpdateRecurringPlanRequest'
      responses:
        "200":
          description: OK
      summary: Update Plan
      tags:
      - Plan
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--recurring-plans-planId
      x-content-type: application/json
      x-accepts: application/json
  /recurring/plans?{parameters}:
    get:
      deprecated: false
      description: ""
      operationId: Plan_getAll
      parameters:
      - explode: true
        in: query
        name: pagesize
        required: false
        schema:
          default: "5"
          example: "5"
          type: string
          x-konfig-original-example: "5"
          x-konfig-generated-schema: konfig-generated-schema-paths--recurring-plans?parameters-get-parameters-0-schema
        style: form
      - explode: true
        in: query
        name: after
        required: false
        schema:
          default: "2185254"
          example: "2185254"
          type: string
          x-konfig-original-example: "2185254"
          x-konfig-generated-schema: konfig-generated-schema-paths--recurring-plans?parameters-get-parameters-1-schema
        style: form
      - explode: true
        in: query
        name: gettotal
        required: false
        schema:
          default: true
          example: true
          type: boolean
          x-konfig-original-example: true
          x-konfig-generated-schema: konfig-generated-schema-paths--recurring-plans?parameters-get-parameters-2-schema
        style: form
      - explode: true
        in: query
        name: fulldescription
        required: false
        schema:
          default: false
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--recurring-plans?parameters-get-parameters-3-schema
        style: form
      responses:
        "200":
          description: OK
      summary: Retrieve All Plans
      tags:
      - Plan
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--recurring-plans?parameters
      x-accepts: application/json
  /recurring/subscriptions:
    post:
      deprecated: false
      description: ""
      operationId: Subscription_createNew
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionCreateNewRequest'
      responses:
        "200":
          description: OK
      summary: Create Subscription
      tags:
      - Subscription
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--recurring-subscriptions
      x-content-type: application/json
      x-accepts: application/json
  /recurring/subscriptions/{subscriptionId}:
    get:
      deprecated: false
      description: ""
      operationId: Subscription_getSpecific
      parameters:
      - description: BlueSnap identifier for the subscription.
        explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          default: 8491535
          example: 8491535
          format: int32
          type: integer
          x-konfig-original-example: 8491535
          x-konfig-generated-schema: konfig-generated-schema-paths--recurring-subscriptions-subscriptionId-get-parameters-0-schema
        style: simple
      responses:
        "200":
          description: OK
      summary: Retrieve Specific Subscription
      tags:
      - Subscription
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--recurring-subscriptions-subscriptionId
      x-accepts: application/json
    put:
      deprecated: false
      description: ""
      operationId: Subscription_updateSubscription
      parameters:
      - description: BlueSnap identifier for the subscription.
        explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          default: 8491543
          example: 8491543
          format: int32
          type: integer
          x-konfig-original-example: 8491543
          x-konfig-generated-schema: konfig-generated-schema-paths--recurring-subscriptions-subscriptionId-put-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionUpdateSubscriptionRequest'
      responses:
        "200":
          description: OK
      summary: Update Subscription
      tags:
      - Subscription
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--recurring-subscriptions-subscriptionId
      x-content-type: application/json
      x-accepts: application/json
  /recurring/ondemand:
    post:
      deprecated: false
      description: ""
      operationId: Subscription_createMerchantManagedSubscription
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionCreateMerchantManagedSubscriptionRequest'
      responses:
        "200":
          description: OK
      summary: Create Merchant-Managed Subscription
      tags:
      - Subscription
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--recurring-ondemand
      x-content-type: application/json
      x-accepts: application/json
  /recurring/ondemand/{subscriptionId}:
    post:
      deprecated: false
      description: ""
      operationId: Subscription_createMerchantManagedCharge
      parameters:
      - description: BlueSnap identifier for the subscription.
        explode: false
        in: path
        name: subscriptionId
        required: true
        schema:
          default: 10543419
          example: 10543419
          format: int32
          type: integer
          x-konfig-original-example: 10543419
          x-konfig-generated-schema: konfig-generated-schema-paths--recurring-ondemand-subscriptionId-post-parameters-0-schema
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionCreateMerchantManagedChargeRequest'
      responses:
        "200":
          description: OK
      summary: Create Merchant-Managed Subscription Charge
      tags:
      - Subscription
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--recurring-ondemand-subscriptionId
      x-content-type: application/json
      x-accepts: application/json
  /recurring/subscriptions?{parameters}:
    get:
      deprecated: false
      description: ""
      operationId: Subscription_listAllSubscriptions
      parameters:
      - explode: true
        in: query
        name: pagesize
        required: false
        schema:
          default: "5"
          example: "5"
          type: string
          x-konfig-original-example: "5"
          x-konfig-generated-schema: konfig-generated-schema-paths--recurring-subscriptions?parameters-get-parameters-0-schema
        style: form
      - explode: true
        in: query
        name: after
        required: false
        schema:
          default: "34567"
          example: "34567"
          type: string
          x-konfig-original-example: "34567"
          x-konfig-generated-schema: konfig-generated-schema-paths--recurring-subscriptions?parameters-get-parameters-1-schema
        style: form
      - explode: true
        in: query
        name: gettotal
        required: false
        schema:
          default: true
          example: true
          type: boolean
          x-konfig-original-example: true
          x-konfig-generated-schema: konfig-generated-schema-paths--recurring-subscriptions?parameters-get-parameters-2-schema
        style: form
      - explode: true
        in: query
        name: fulldescription
        required: false
        schema:
          default: false
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--recurring-subscriptions?parameters-get-parameters-3-schema
        style: form
      responses:
        "200":
          description: OK
      summary: Retrieve All Subscriptions
      tags:
      - Subscription
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--recurring-subscriptions?parameters
      x-accepts: application/json
  /:subscriptionId/charges?{parameters}:
    get:
      deprecated: false
      description: ""
      operationId: Subscription_listCharges
      parameters:
      - explode: true
        in: query
        name: pagesize
        required: false
        schema:
          default: "3"
          example: "3"
          type: string
          x-konfig-original-example: "3"
          x-konfig-generated-schema: konfig-generated-schema-paths--:subscriptionId-charges?parameters-get-parameters-0-schema
        style: form
      - explode: true
        in: query
        name: after
        required: false
        schema:
          default: "163193"
          example: "163193"
          type: string
          x-konfig-original-example: "163193"
          x-konfig-generated-schema: konfig-generated-schema-paths--:subscriptionId-charges?parameters-get-parameters-1-schema
        style: form
      - explode: true
        in: query
        name: fulldescription
        required: false
        schema:
          default: false
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--:subscriptionId-charges?parameters-get-parameters-2-schema
        style: form
      responses:
        "200":
          description: OK
      summary: Retrieve All Charges for a Subscription
      tags:
      - Subscription
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--:subscriptionId-charges?parameters
      x-accepts: application/json
  /recurring/subscriptions/:subscriptionId/switch-charge-amount:
    get:
      deprecated: false
      description: ""
      operationId: Subscription_getSwitchChargeAmount
      parameters:
      - explode: true
        in: query
        name: newplanid
        required: false
        schema:
          default: "111111"
          example: "111111"
          type: string
          x-konfig-original-example: "111111"
          x-konfig-generated-schema: konfig-generated-schema-paths--recurring-subscriptions-:subscriptionId-switch-charge-amount-get-parameters-0-schema
        style: form
      - explode: true
        in: query
        name: newquantity
        required: false
        schema:
          default: "2"
          example: "2"
          type: string
          x-konfig-original-example: "2"
          x-konfig-generated-schema: konfig-generated-schema-paths--recurring-subscriptions-:subscriptionId-switch-charge-amount-get-parameters-1-schema
        style: form
      responses:
        "200":
          description: OK
      summary: Retrieve Subscription Switch Charge Amount
      tags:
      - Subscription
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--recurring-subscriptions-:subscriptionId-switch-charge-amount
      x-accepts: application/json
  /transactions/approval:
    put:
      deprecated: false
      description: ""
      operationId: Transaction_approveMerchantTransaction
      parameters:
      - description: either `transactionid` or `merchanttransactionid` <b>is required</b>
          <br />ID of the transaction to be approved/declined
        explode: true
        in: query
        name: transactionid
        required: false
        schema:
          default: "38612140"
          example: "38612140"
          type: string
          x-konfig-original-example: "38612140"
          x-konfig-generated-schema: konfig-generated-schema-paths--transactions-approval-put-parameters-0-schema
        style: form
      - description: Set to `true` to approve the transaction or to `false` to decline
          the transaction. Default value is `true`.
        explode: true
        in: query
        name: approvetransaction
        required: false
        schema:
          default: true
          example: true
          type: boolean
          x-konfig-original-example: true
          x-konfig-generated-schema: konfig-generated-schema-paths--transactions-approval-put-parameters-1-schema
        style: form
      responses:
        "200":
          description: OK
      summary: Merchant Approve Transaction
      tags:
      - Transaction
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--transactions-approval
      x-accepts: application/json
  /vendors:
    post:
      deprecated: false
      description: ""
      operationId: Vendor_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VendorCreateRequest'
      responses:
        "200":
          description: OK
      summary: Create Vendor
      tags:
      - Vendor
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--vendors
      x-content-type: application/json
      x-accepts: application/json
  /vendors/{vendorId}:
    get:
      deprecated: false
      description: ""
      operationId: Vendor_getVendor
      parameters:
      - description: BlueSnap identifier for the vendor
        explode: false
        in: path
        name: vendorId
        required: true
        schema:
          default: 837389
          example: 837389
          format: int32
          type: integer
          x-konfig-original-example: 837389
          x-konfig-generated-schema: konfig-generated-schema-paths--vendors-vendorId-get-parameters-0-schema
        style: simple
      responses:
        "200":
          description: OK
      summary: Retrieve Vendor
      tags:
      - Vendor
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--vendors-vendorId
      x-accepts: application/json
    put:
      deprecated: false
      description: ""
      operationId: Vendor_updateVendor
      parameters:
      - description: BlueSnap identifier for the vendor
        explode: false
        in: path
        name: vendorId
        required: true
        schema:
          format: int32
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VendorUpdateVendorRequest'
      responses:
        "200":
          description: OK
      summary: Update Vendor
      tags:
      - Vendor
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-put--vendors-vendorId
      x-content-type: application/json
      x-accepts: application/json
  /vendors?{parameters}:
    get:
      deprecated: false
      description: ""
      operationId: Vendor_getAllVendors
      parameters:
      - explode: true
        in: query
        name: gettotal
        required: false
        schema:
          default: true
          example: true
          type: boolean
          x-konfig-original-example: true
          x-konfig-generated-schema: konfig-generated-schema-paths--vendors?parameters-get-parameters-0-schema
        style: form
      responses:
        "200":
          description: OK
      summary: Retrieve All Vendors
      tags:
      - Vendor
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--vendors?parameters
      x-accepts: application/json
components:
  schemas:
    AuthorizationCreateTransactionRequest:
      example:
        amount: 11
        softDescriptor: DescTest
        cardHolderInfo:
          zip: "02453"
          firstName: test first name
          lastName: test last name
        currency: USD
        creditCard:
          expirationYear: 2026
          securityCode: 837
          expirationMonth: "02"
          cardNumber: "4263982640269299"
        cardTransactionType: AUTH_ONLY
      properties:
        amount:
          default: 11
          example: 11
          format: float
          type: number
          x-konfig-original-example: 11
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AuthorizationCreateTransactionRequest-properties-amount
        softDescriptor:
          default: DescTest
          example: DescTest
          type: string
          x-konfig-original-example: DescTest
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AuthorizationCreateTransactionRequest-properties-softDescriptor
        cardHolderInfo:
          $ref: '#/components/schemas/AuthorizationCreateTransactionRequest_cardHolderInfo'
        currency:
          default: USD
          example: USD
          type: string
          x-konfig-original-example: USD
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AuthorizationCreateTransactionRequest-properties-currency
        creditCard:
          $ref: '#/components/schemas/AuthorizationCreateTransactionRequest_creditCard'
        cardTransactionType:
          default: AUTH_ONLY
          example: AUTH_ONLY
          type: string
          x-konfig-original-example: AUTH_ONLY
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-AuthorizationCreateTransactionRequest-properties-cardTransactionType
      type: object
    ReversalAuthTransactionRequest:
      example:
        cardTransactionType: AUTH_REVERSAL
        transactionId: 1011671987
      properties:
        cardTransactionType:
          default: AUTH_REVERSAL
          example: AUTH_REVERSAL
          type: string
          x-konfig-original-example: AUTH_REVERSAL
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ReversalAuthTransactionRequest-properties-cardTransactionType
        transactionId:
          default: 1011671987
          example: 1011671987
          format: int32
          type: integer
          x-konfig-original-example: 1011671987
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ReversalAuthTransactionRequest-properties-transactionId
      type: object
    TransactionCreateSofortTransactionRequest:
      example:
        becsDirectDebitTransaction:
          bsbNumber: "980201"
          accountName: Boris Britva
          agreementId: 81
          branchName: branchName
          accountNumber: "9990000001"
          financialInstitution: financialInstitution
        ecpTransaction:
          routingNumber: "011075150"
          accountType: CONSUMER_CHECKING
          accountNumber: 4099999992
        amount: 42
        idealTransaction:
          returnUrl: http://www.returnURL.com
        softDescriptor: ABC COMPANY
        sepaDirectDebitTransaction:
          iban: DE09100100101234567893
        sofortTransaction:
          returnUrl: http://www.returnURL.com
        acssDirectDebitTransaction:
          routingNumber: "001004820"
          accountType: PERSONAL
          agreementId: 87
          accountNumber: "9990000001"
        payerInfo:
          zip: "12345"
          firstName: John
          lastName: Doe
          country: uk
          phone: "1234567890"
        localBankTransferTransaction:
          '{}': "{}"
        currency: GBP
        authorizedByShopper: true
        paypalTransaction:
          transactionType: SET_ORDER
          cancelUrl: http://www.cancelURL.com
          returnUrl: http://www.returnURL.com
      properties:
        ecpTransaction:
          $ref: '#/components/schemas/TransactionCreateSofortTransactionRequest_ecpTransaction'
        amount:
          default: 42
          example: 42
          format: float
          type: number
          x-konfig-original-example: 42
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-TransactionCreateSofortTransactionRequest-properties-amount
        payerInfo:
          $ref: '#/components/schemas/TransactionCreateSofortTransactionRequest_payerInfo'
        softDescriptor:
          default: ABC COMPANY
          example: ABC COMPANY
          type: string
          x-konfig-original-example: ABC COMPANY
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-TransactionCreateSofortTransactionRequest-properties-softDescriptor
        currency:
          default: GBP
          example: GBP
          type: string
          x-konfig-original-example: GBP
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-TransactionCreateSofortTransactionRequest-properties-currency
        authorizedByShopper:
          default: true
          example: true
          type: boolean
          x-konfig-original-example: true
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-TransactionCreateSofortTransactionRequest-properties-authorizedByShopper
        becsDirectDebitTransaction:
          $ref: '#/components/schemas/TransactionCreateSofortTransactionRequest_becsDirectDebitTransaction'
        idealTransaction:
          $ref: '#/components/schemas/TransactionCreateSofortTransactionRequest_idealTransaction'
        localBankTransferTransaction:
          $ref: '#/components/schemas/TransactionCreateSofortTransactionRequest_localBankTransferTransaction'
        paypalTransaction:
          $ref: '#/components/schemas/TransactionCreateSofortTransactionRequest_paypalTransaction'
        acssDirectDebitTransaction:
          $ref: '#/components/schemas/TransactionCreateSofortTransactionRequest_acssDirectDebitTransaction'
        sepaDirectDebitTransaction:
          $ref: '#/components/schemas/TransactionCreateSofortTransactionRequest_sepaDirectDebitTransaction'
        sofortTransaction:
          $ref: '#/components/schemas/TransactionCreateSofortTransactionRequest_sofortTransaction'
      type: object
    TransactionUpdatePaypalTransactionRequest:
      example:
        amount: 105
        currency: USD
        paypalTransaction:
          transactionType: DO_ORDER
          orderId: "7078033"
      properties:
        amount:
          default: 105
          example: 105
          format: float
          type: number
          x-konfig-original-example: 105
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-TransactionUpdatePaypalTransactionRequest-properties-amount
        currency:
          default: USD
          example: USD
          type: string
          x-konfig-original-example: USD
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-TransactionUpdatePaypalTransactionRequest-properties-currency
        paypalTransaction:
          $ref: '#/components/schemas/TransactionUpdatePaypalTransactionRequest_paypalTransaction'
      type: object
    TransactionCreateBatchTransactionRequest:
      example:
        batchTransaction:
          cardTransaction:
          - amount: "20.00"
            merchantTransactionId: "566"
            currency: USD
            cardHolderInfo:
              zip: "02453"
              firstName: test first name
              lastName: test last name
            cardTransactionType: AUTH_CAPTURE
            creditCard:
              expirationYear: "2023"
              ? ""
              : ""
              expirationMonth: "02"
              cardNumber: "4263982640269299"
          - amount: "20.00"
            merchantTransactionId: "566"
            currency: USD
            cardHolderInfo:
              zip: "02453"
              firstName: test first name
              lastName: test last name
            cardTransactionType: AUTH_CAPTURE
            creditCard:
              expirationYear: "2023"
              ? ""
              : ""
              expirationMonth: "02"
              cardNumber: "4263982640269299"
          callbackUrl: http://example.com/batch_callback
          batchId: "567890"
      properties:
        batchTransaction:
          $ref: '#/components/schemas/TransactionCreateBatchTransactionRequest_batchTransaction'
      type: object
    TransactionInitiateRefundRequest:
      example:
        reason: "Refund for order #1992"
        cancelSubscriptions: false
        transactionMetaData:
          metaData:
          - metaValue: "1552,8832"
            metaKey: refundedItems
            metaDescription: Refunded Items
          - metaValue: "1552,8832"
            metaKey: refundedItems
            metaDescription: Refunded Items
      properties:
        reason:
          default: "Refund for order #1992"
          example: "Refund for order #1992"
          type: string
          x-konfig-original-example: "Refund for order #1992"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-TransactionInitiateRefundRequest-properties-reason
        cancelSubscriptions:
          default: false
          example: false
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-TransactionInitiateRefundRequest-properties-cancelSubscriptions
        transactionMetaData:
          $ref: '#/components/schemas/TransactionInitiateRefundRequest_transactionMetaData'
      type: object
    ShopperCreateVaultedShopperRequest:
      example:
        paymentSources:
          creditCardInfo:
          - creditCard:
              expirationYear: 2023
              securityCode: "837"
              expirationMonth: 2
              cardNumber: "4263982640269299"
          - creditCard:
              expirationYear: 2023
              securityCode: "837"
              expirationMonth: 2
              cardNumber: "4263982640269299"
        firstName: FirstName
        lastName: LastName
      properties:
        paymentSources:
          $ref: '#/components/schemas/ShopperCreateVaultedShopperRequest_paymentSources'
        firstName:
          default: FirstName
          example: FirstName
          type: string
          x-konfig-original-example: FirstName
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ShopperCreateVaultedShopperRequest-properties-firstName
        lastName:
          default: LastName
          example: LastName
          type: string
          x-konfig-original-example: LastName
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ShopperCreateVaultedShopperRequest-properties-lastName
      type: object
    ShopperUpdateVaultedShopperRequest:
      example:
        paymentSources:
          creditCardInfo:
          - creditCard:
              expirationYear: 2023
              securityCode: "837"
              expirationMonth: 2
              cardNumber: "4263982640269299"
          - creditCard:
              expirationYear: 2023
              securityCode: "837"
              expirationMonth: 2
              cardNumber: "4263982640269299"
        firstName: FirstName
        lastName: LastName
      properties:
        paymentSources:
          $ref: '#/components/schemas/ShopperUpdateVaultedShopperRequest_paymentSources'
        firstName:
          default: FirstName
          example: FirstName
          type: string
          x-konfig-original-example: FirstName
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ShopperUpdateVaultedShopperRequest-properties-firstName
        lastName:
          default: LastName
          example: LastName
          type: string
          x-konfig-original-example: LastName
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-ShopperUpdateVaultedShopperRequest-properties-lastName
      type: object
    PlanCreateRecurringPlanRequest:
      example:
        chargeFrequency: MONTHLY
        gracePeriodDays: 10
        trialPeriodDays: 14
        initialChargeAmount: 100
        name: Gold Plan
        currency: USD
        maxNumberOfCharges: 12
        recurringChargeAmount: 29.99
        chargeOnPlanSwitch: true
      properties:
        chargeFrequency:
          default: MONTHLY
          example: MONTHLY
          type: string
          x-konfig-original-example: MONTHLY
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-PlanCreateRecurringPlanRequest-properties-chargeFrequency
        gracePeriodDays:
          default: 10
          example: 10
          format: int32
          type: integer
          x-konfig-original-example: 10
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-PlanCreateRecurringPlanRequest-properties-gracePeriodDays
        trialPeriodDays:
          default: 14
          example: 14
          format: int32
          type: integer
          x-konfig-original-example: 14
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-PlanCreateRecurringPlanRequest-properties-trialPeriodDays
        initialChargeAmount:
          default: 100
          example: 100
          format: int32
          type: integer
          x-konfig-original-example: 100
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-PlanCreateRecurringPlanRequest-properties-initialChargeAmount
        name:
          default: Gold Plan
          example: Gold Plan
          type: string
          x-konfig-original-example: Gold Plan
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-PlanCreateRecurringPlanRequest-properties-name
        currency:
          default: USD
          example: USD
          type: string
          x-konfig-original-example: USD
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-PlanCreateRecurringPlanRequest-properties-currency
        maxNumberOfCharges:
          default: 12
          example: 12
          format: int32
          type: integer
          x-konfig-original-example: 12
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-PlanCreateRecurringPlanRequest-properties-maxNumberOfCharges
        recurringChargeAmount:
          default: 29.99
          example: 29.99
          format: float
          type: number
          x-konfig-original-example: 29.99
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-PlanCreateRecurringPlanRequest-properties-recurringChargeAmount
        chargeOnPlanSwitch:
          default: true
          example: true
          type: boolean
          x-konfig-original-example: true
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-PlanCreateRecurringPlanRequest-properties-chargeOnPlanSwitch
      type: object
    PlanUpdateRecurringPlanRequest:
      example:
        chargeFrequency: MONTHLY
        trialPeriodDays: "7"
        initialChargeAmount: "30"
        name: Gold Plan
        currency: USD
        recurringChargeAmount: "19"
      properties:
        chargeFrequency:
          default: MONTHLY
          example: MONTHLY
          type: string
          x-konfig-original-example: MONTHLY
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-PlanUpdateRecurringPlanRequest-properties-chargeFrequency
        trialPeriodDays:
          default: "7"
          example: "7"
          type: string
          x-konfig-original-example: "7"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-PlanUpdateRecurringPlanRequest-properties-trialPeriodDays
        initialChargeAmount:
          default: "30"
          example: "30"
          type: string
          x-konfig-original-example: "30"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-PlanUpdateRecurringPlanRequest-properties-initialChargeAmount
        name:
          default: Gold Plan
          example: Gold Plan
          type: string
          x-konfig-original-example: Gold Plan
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-PlanUpdateRecurringPlanRequest-properties-name
        currency:
          default: USD
          example: USD
          type: string
          x-konfig-original-example: USD
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-PlanUpdateRecurringPlanRequest-properties-currency
        recurringChargeAmount:
          default: "19"
          example: "19"
          type: string
          x-konfig-original-example: "19"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-PlanUpdateRecurringPlanRequest-properties-recurringChargeAmount
      type: object
    SubscriptionCreateNewRequest:
      example:
        payerInfo:
          zip: "02453"
          firstName: John
          lastName: Doe
          phone: "1234567890"
        paymentSource:
          creditCardInfo:
            creditCard:
              expirationYear: 2023
              securityCode: "111"
              expirationMonth: "07"
              cardNumber: "4111111111111111"
        planId: 2283845
      properties:
        payerInfo:
          $ref: '#/components/schemas/SubscriptionCreateNewRequest_payerInfo'
        paymentSource:
          $ref: '#/components/schemas/SubscriptionCreateNewRequest_paymentSource'
        planId:
          default: 2283845
          example: 2283845
          format: int32
          type: integer
          x-konfig-original-example: 2283845
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-SubscriptionCreateNewRequest-properties-planId
      type: object
    SubscriptionUpdateSubscriptionRequest:
      example:
        planId: "2283849"
      properties:
        planId:
          default: "2283849"
          example: "2283849"
          type: string
          x-konfig-original-example: "2283849"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-SubscriptionUpdateSubscriptionRequest-properties-planId
      type: object
    SubscriptionCreateMerchantManagedSubscriptionRequest:
      example:
        amount: 45
        payerInfo:
          zip: "02453"
          firstName: John
          lastName: Doe
          country: us
        paymentSource:
          creditCardInfo:
            creditCard:
              expirationYear: 2026
              securityCode: "111"
              expirationMonth: 5
              cardNumber: "4012000033330026"
        currency: USD
      properties:
        amount:
          default: 45
          example: 45
          format: float
          type: number
          x-konfig-original-example: 45
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-SubscriptionCreateMerchantManagedSubscriptionRequest-properties-amount
        currency:
          default: USD
          example: USD
          type: string
          x-konfig-original-example: USD
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-SubscriptionCreateMerchantManagedSubscriptionRequest-properties-currency
        payerInfo:
          $ref: '#/components/schemas/SubscriptionCreateMerchantManagedSubscriptionRequest_payerInfo'
        paymentSource:
          $ref: '#/components/schemas/SubscriptionCreateMerchantManagedSubscriptionRequest_paymentSource'
      type: object
    SubscriptionCreateMerchantManagedChargeRequest:
      example:
        taxReference: 048deff0-a285-47e1-bc39-42f79bf0095b
        amount: 45
        merchantTransactionId: MyUniqueOnDemandSubscription
        currency: USD
      properties:
        amount:
          default: 45
          example: 45
          format: float
          type: number
          x-konfig-original-example: 45
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-SubscriptionCreateMerchantManagedChargeRequest-properties-amount
        currency:
          default: USD
          example: USD
          type: string
          x-konfig-original-example: USD
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-SubscriptionCreateMerchantManagedChargeRequest-properties-currency
        merchantTransactionId:
          default: MyUniqueOnDemandSubscription
          example: MyUniqueOnDemandSubscription
          type: string
          x-konfig-original-example: MyUniqueOnDemandSubscription
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-SubscriptionCreateMerchantManagedChargeRequest-properties-merchantTransactionId
        taxReference:
          default: 048deff0-a285-47e1-bc39-42f79bf0095b
          example: 048deff0-a285-47e1-bc39-42f79bf0095b
          type: string
          x-konfig-original-example: 048deff0-a285-47e1-bc39-42f79bf0095b
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-SubscriptionCreateMerchantManagedChargeRequest-properties-taxReference
      type: object
    VendorCreateRequest:
      example:
        zip: "02453"
        lastName: Smith
        country: US
        ipnUrl: https://ipnaddress.com
        address: 123 Main Street
        city: Boston
        vendorPrincipal:
          zip: "02453"
          firstName: Joe
          lastName: Smith
          country: US
          address: 123 Main Street
          driverLicenseNumber: "561196411"
          city: Boston
          dob: 28-09-9999
          personalIdentificationNumber: "1234"
          email: individual.vendor@bluesnap.com
        payoutInfo: "{}"
        vendorAgreement:
          commissionPercent: 30
        firstName: Joe
        defaultPayoutCurrency: USD
        phone: 1-123-456-7890
        state: MA
        email: vendor@example.com
      properties:
        email:
          default: vendor@example.com
          example: vendor@example.com
          type: string
          x-konfig-original-example: vendor@example.com
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-VendorCreateRequest-properties-email
        firstName:
          default: Joe
          example: Joe
          type: string
          x-konfig-original-example: Joe
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-VendorCreateRequest-properties-firstName
        lastName:
          default: Smith
          example: Smith
          type: string
          x-konfig-original-example: Smith
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-VendorCreateRequest-properties-lastName
        phone:
          default: 1-123-456-7890
          example: 1-123-456-7890
          type: string
          x-konfig-original-example: 1-123-456-7890
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-VendorCreateRequest-properties-phone
        address:
          default: 123 Main Street
          example: 123 Main Street
          type: string
          x-konfig-original-example: 123 Main Street
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-VendorCreateRequest-properties-address
        city:
          default: Boston
          example: Boston
          type: string
          x-konfig-original-example: Boston
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-VendorCreateRequest-properties-city
        country:
          default: US
          example: US
          type: string
          x-konfig-original-example: US
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-VendorCreateRequest-properties-country
        state:
          default: MA
          example: MA
          type: string
          x-konfig-original-example: MA
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-VendorCreateRequest-properties-state
        zip:
          default: "02453"
          example: "02453"
          type: string
          x-konfig-original-example: "02453"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-VendorCreateRequest-properties-zip
        defaultPayoutCurrency:
          default: USD
          example: USD
          type: string
          x-konfig-original-example: USD
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-VendorCreateRequest-properties-defaultPayoutCurrency
        ipnUrl:
          default: https://ipnaddress.com
          example: https://ipnaddress.com
          type: string
          x-konfig-original-example: https://ipnaddress.com
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-VendorCreateRequest-properties-ipnUrl
        vendorPrincipal:
          $ref: '#/components/schemas/VendorCreateRequest_vendorPrincipal'
        vendorAgreement:
          $ref: '#/components/schemas/VendorCreateRequest_vendorAgreement'
        payoutInfo:
          properties: {}
          type: object
      type: object
    VendorUpdateVendorRequest:
      example:
        zip: "02453"
        lastName: Smith
        country: US
        vendorUrl: http://mycompany.com
        ipnUrl: https://ipnaddress.com
        address: 123 Main Street
        city: testing city
        vendorPrincipal:
          zip: "02453"
          firstName: Joe
          lastName: Smith
          country: US
          address: 123 Main Street
          driverLicenseNumber: "561196411"
          city: Juneau
          dob: 28-09-9999
          personalIdentificationNumber: 1234
          email: principal.name@vendor.com
        payoutInfo:
        - zip: "02453"
          country: US
          nameOnAccount: vendor
          payoutType: ACH
          address: 1 bank address
          city: Portland
          minimalPayoutAmount: 50
          paymentReference: Payment for vendor 1234
          bankName: Leumi
          baseCurrency: USD
          bankAccountClass: PERSONAL
          bankId: "123456789"
          bankAccountType: CHECKING
          bankAccountId: "123456789"
          state: MA
          refundReserve: 200
        - zip: "02453"
          country: US
          nameOnAccount: vendor
          payoutType: ACH
          address: 1 bank address
          city: Portland
          minimalPayoutAmount: 50
          paymentReference: Payment for vendor 1234
          bankName: Leumi
          baseCurrency: USD
          bankAccountClass: PERSONAL
          bankId: "123456789"
          bankAccountType: CHECKING
          bankAccountId: "123456789"
          state: MA
          refundReserve: 200
        vendorAgreement:
          accountStatus: ACTIVE
          commissionPercent: 20
        firstName: Joe
        defaultPayoutCurrency: USD
        phone: 1-054-976-6778
        taxId: 123456789
        name: Important Vendor
        state: MA
        email: vendor@bluesnap.com
      properties:
        email:
          default: vendor@bluesnap.com
          example: vendor@bluesnap.com
          type: string
          x-konfig-original-example: vendor@bluesnap.com
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-VendorUpdateVendorRequest-properties-email
        name:
          default: Important Vendor
          example: Important Vendor
          type: string
          x-konfig-original-example: Important Vendor
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-VendorUpdateVendorRequest-properties-name
        firstName:
          default: Joe
          example: Joe
          type: string
          x-konfig-original-example: Joe
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-VendorUpdateVendorRequest-properties-firstName
        lastName:
          default: Smith
          example: Smith
          type: string
          x-konfig-original-example: Smith
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-VendorUpdateVendorRequest-properties-lastName
        address:
          default: 123 Main Street
          example: 123 Main Street
          type: string
          x-konfig-original-example: 123 Main Street
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-VendorUpdateVendorRequest-properties-address
        city:
          default: testing city
          example: testing city
          type: string
          x-konfig-original-example: testing city
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-VendorUpdateVendorRequest-properties-city
        zip:
          default: "02453"
          example: "02453"
          type: string
          x-konfig-original-example: "02453"
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-VendorUpdateVendorRequest-properties-zip
        country:
          default: US
          example: US
          type: string
          x-konfig-original-example: US
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-VendorUpdateVendorRequest-properties-country
        phone:
          default: 1-054-976-6778
          example: 1-054-976-6778
          type: string
          x-konfig-original-example: 1-054-976-6778
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-VendorUpdateVendorRequest-properties-phone
        state:
          default: MA
          example: MA
          type: string
          x-konfig-original-example: MA
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-VendorUpdateVendorRequest-properties-state
        taxId:
          default: 123456789
          example: 123456789
          format: int32
          type: integer
          x-konfig-original-example: 123456789
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-VendorUpdateVendorRequest-properties-taxId
        vendorUrl:
          default: http://mycompany.com
          example: http://mycompany.com
          type: string
          x-konfig-original-example: http://mycompany.com
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-VendorUpdateVendorRequest-properties-vendorUrl
        ipnUrl:
          default: https://ipnaddress.com
          example: https://ipnaddress.com
          type: string
          x-konfig-original-example: https://ipnaddress.com
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-VendorUpdateVendorRequest-properties-ipnUrl
        defaultPayoutCurrency:
          default: USD
          example: USD
          type: string
          x-konfig-original-example: USD
          x-konfig-generated-schema: konfig-generated-schema-components-schemas-VendorUpdateVendorRequest-properties-defaultPayoutCurrency
        vendorPrincipal:
          $ref: '#/components/schemas/VendorUpdateVendorRequest_vendorPrincipal'
        payoutInfo:
          items:
            $ref: '#/components/schemas/VendorUpdateVendorRequest_payoutInfo_inner'
          type: array
        vendorAgreement:
          $ref: '#/components/schemas/VendorUpdateVendorRequest_vendorAgreement'
      type: object
    konfig-generated-schema-paths--transactions-transactionId-get-parameters-0-schema:
      example: "1011582369"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-paths--alt-transactions-transactionId-get-parameters-0-schema:
      example: "1014672453"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-paths--alt-transactions-resolve-get-parameters-0-schema:
      example: 20922493
      type: number
      x-do-not-generate: true
    konfig-generated-schema-paths--agreements-debit-region-type-post-parameters-0-schema:
      example: ca
      type: string
      x-do-not-generate: true
    konfig-generated-schema-paths--agreements-debit-region-type-post-parameters-1-schema:
      example: onetime
      type: string
      x-do-not-generate: true
    konfig-generated-schema-paths--agreements-agreementId-get-parameters-0-schema:
      example: "1065"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-paths--agreements-prenotification-transactionId-get-parameters-0-schema:
      example: "38943468"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-paths--alt-transactions-resolve?orderId=orderId-get-parameters-0-schema:
      example: "5666625"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-paths--batch-transactions-batchId-get-parameters-0-schema:
      example: "567890"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-paths--transactions-refund-transactionId-post-parameters-0-schema:
      example: "1095710747"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-paths--transactions-pending-refund-transactionId-delete-parameters-0-schema:
      example: "1109144995"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-paths--vaulted-shoppers-vaultedShopperId-put-parameters-0-schema:
      example: "40444721"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-paths--vaulted-shoppers-vaultedShopperId-get-parameters-0-schema:
      example: "20769005"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-paths--vaulted-shoppers-vaultedShopperId-delete-parameters-0-schema:
      example: "20769005"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-paths--recurring-plans-planId-put-parameters-0-schema:
      example: 2111111
      type: number
      x-do-not-generate: true
    konfig-generated-schema-paths--recurring-plans-planId-get-parameters-0-schema:
      example: 2283845
      type: number
      x-do-not-generate: true
    konfig-generated-schema-paths--recurring-plans?parameters-get-parameters-0-schema:
      example: "5"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-paths--recurring-plans?parameters-get-parameters-1-schema:
      example: "2185254"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-paths--recurring-plans?parameters-get-parameters-2-schema:
      example: true
      type: boolean
      x-do-not-generate: true
    konfig-generated-schema-paths--recurring-plans?parameters-get-parameters-3-schema:
      example: false
      type: boolean
      x-do-not-generate: true
    konfig-generated-schema-paths--recurring-subscriptions-subscriptionId-put-parameters-0-schema:
      example: 8491543
      type: number
      x-do-not-generate: true
    konfig-generated-schema-paths--recurring-subscriptions-subscriptionId-get-parameters-0-schema:
      example: 8491535
      type: number
      x-do-not-generate: true
    konfig-generated-schema-paths--recurring-ondemand-subscriptionId-post-parameters-0-schema:
      example: 10543419
      type: number
      x-do-not-generate: true
    konfig-generated-schema-paths--recurring-subscriptions?parameters-get-parameters-0-schema:
      example: "5"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-paths--recurring-subscriptions?parameters-get-parameters-1-schema:
      example: "34567"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-paths--recurring-subscriptions?parameters-get-parameters-2-schema:
      example: true
      type: boolean
      x-do-not-generate: true
    konfig-generated-schema-paths--recurring-subscriptions?parameters-get-parameters-3-schema:
      example: false
      type: boolean
      x-do-not-generate: true
    konfig-generated-schema-paths--:subscriptionId-charges?parameters-get-parameters-0-schema:
      example: "3"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-paths--:subscriptionId-charges?parameters-get-parameters-1-schema:
      example: "163193"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-paths--:subscriptionId-charges?parameters-get-parameters-2-schema:
      example: false
      type: boolean
      x-do-not-generate: true
    konfig-generated-schema-paths--recurring-subscriptions-:subscriptionId-switch-charge-amount-get-parameters-0-schema:
      example: "111111"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-paths--recurring-subscriptions-:subscriptionId-switch-charge-amount-get-parameters-1-schema:
      example: "2"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-paths--transactions-approval-put-parameters-0-schema:
      example: "38612140"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-paths--transactions-approval-put-parameters-1-schema:
      example: true
      type: boolean
      x-do-not-generate: true
    konfig-generated-schema-paths--vendors-vendorId-get-parameters-0-schema:
      example: 837389
      type: number
      x-do-not-generate: true
    konfig-generated-schema-paths--vendors?parameters-get-parameters-0-schema:
      example: true
      type: boolean
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-AuthorizationCreateTransactionRequest-properties-amount:
      example: 11
      type: number
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-AuthorizationCreateTransactionRequest-properties-softDescriptor:
      example: DescTest
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-AuthorizationCreateTransactionRequest-properties-cardHolderInfo-properties-firstName:
      example: test first name
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-AuthorizationCreateTransactionRequest-properties-cardHolderInfo-properties-lastName:
      example: test last name
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-AuthorizationCreateTransactionRequest-properties-cardHolderInfo-properties-zip:
      example: "02453"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-AuthorizationCreateTransactionRequest-properties-currency:
      example: USD
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-AuthorizationCreateTransactionRequest-properties-creditCard-properties-expirationYear
    : example: 2026
      type: number
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-AuthorizationCreateTransactionRequest-properties-creditCard-properties-securityCode:
      example: 837
      type: number
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-AuthorizationCreateTransactionRequest-properties-creditCard-properties-expirationMonth
    : example: "02"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-AuthorizationCreateTransactionRequest-properties-creditCard-properties-cardNumber:
      example: "4263982640269299"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-AuthorizationCreateTransactionRequest-properties-cardTransactionType:
      example: AUTH_ONLY
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-ReversalAuthTransactionRequest-properties-cardTransactionType:
      example: AUTH_REVERSAL
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-ReversalAuthTransactionRequest-properties-transactionId:
      example: 1011671987
      type: number
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionCreateSofortTransactionRequest-properties-ecpTransaction-properties-routingNumber
    : example: "011075150"
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionCreateSofortTransactionRequest-properties-ecpTransaction-properties-accountType
    : example: CONSUMER_CHECKING
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionCreateSofortTransactionRequest-properties-ecpTransaction-properties-accountNumber
    : example: 4099999992
      type: number
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-TransactionCreateSofortTransactionRequest-properties-amount:
      example: 42
      type: number
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-TransactionCreateSofortTransactionRequest-properties-payerInfo-properties-zip:
      example: "12345"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-TransactionCreateSofortTransactionRequest-properties-payerInfo-properties-firstName:
      example: John
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-TransactionCreateSofortTransactionRequest-properties-payerInfo-properties-lastName:
      example: Doe
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-TransactionCreateSofortTransactionRequest-properties-payerInfo-properties-phone:
      example: "1234567890"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-TransactionCreateSofortTransactionRequest-properties-payerInfo-properties-country:
      example: uk
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-TransactionCreateSofortTransactionRequest-properties-softDescriptor:
      example: ABC COMPANY
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-TransactionCreateSofortTransactionRequest-properties-currency:
      example: GBP
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-TransactionCreateSofortTransactionRequest-properties-authorizedByShopper:
      example: true
      type: boolean
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionCreateSofortTransactionRequest-properties-becsDirectDebitTransaction-properties-bsbNumber
    : example: "980201"
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionCreateSofortTransactionRequest-properties-becsDirectDebitTransaction-properties-accountNumber
    : example: "9990000001"
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionCreateSofortTransactionRequest-properties-becsDirectDebitTransaction-properties-accountName
    : example: Boris Britva
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionCreateSofortTransactionRequest-properties-becsDirectDebitTransaction-properties-financialInstitution
    : example: financialInstitution
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionCreateSofortTransactionRequest-properties-becsDirectDebitTransaction-properties-branchName
    : example: branchName
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionCreateSofortTransactionRequest-properties-becsDirectDebitTransaction-properties-agreementId
    : example: 81
      type: number
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionCreateSofortTransactionRequest-properties-idealTransaction-properties-returnUrl
    : example: http://www.returnURL.com
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionCreateSofortTransactionRequest-properties-paypalTransaction-properties-cancelUrl
    : example: http://www.cancelURL.com
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionCreateSofortTransactionRequest-properties-paypalTransaction-properties-returnUrl
    : example: http://www.returnURL.com
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionCreateSofortTransactionRequest-properties-paypalTransaction-properties-transactionType
    : example: SET_ORDER
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionCreateSofortTransactionRequest-properties-acssDirectDebitTransaction-properties-routingNumber
    : example: "001004820"
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionCreateSofortTransactionRequest-properties-acssDirectDebitTransaction-properties-accountNumber
    : example: "9990000001"
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionCreateSofortTransactionRequest-properties-acssDirectDebitTransaction-properties-accountType
    : example: PERSONAL
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionCreateSofortTransactionRequest-properties-acssDirectDebitTransaction-properties-agreementId
    : example: 87
      type: number
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionCreateSofortTransactionRequest-properties-sepaDirectDebitTransaction-properties-iban
    : example: DE09100100101234567893
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionCreateSofortTransactionRequest-properties-sofortTransaction-properties-returnUrl
    : example: http://www.returnURL.com
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-TransactionUpdatePaypalTransactionRequest-properties-amount:
      example: 105
      type: number
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-TransactionUpdatePaypalTransactionRequest-properties-currency:
      example: USD
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionUpdatePaypalTransactionRequest-properties-paypalTransaction-properties-orderId
    : example: "7078033"
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionUpdatePaypalTransactionRequest-properties-paypalTransaction-properties-transactionType
    : example: DO_ORDER
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionCreateBatchTransactionRequest-properties-batchTransaction-properties-batchId
    : example: "567890"
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionCreateBatchTransactionRequest-properties-batchTransaction-properties-callbackUrl
    : example: http://example.com/batch_callback
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionCreateBatchTransactionRequest-properties-batchTransaction-properties-cardTransaction-items-properties-cardTransactionType
    : example: AUTH_CAPTURE
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionCreateBatchTransactionRequest-properties-batchTransaction-properties-cardTransaction-items-properties-merchantTransactionId
    : example: "566"
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionCreateBatchTransactionRequest-properties-batchTransaction-properties-cardTransaction-items-properties-amount
    : example: "20.00"
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionCreateBatchTransactionRequest-properties-batchTransaction-properties-cardTransaction-items-properties-currency
    : example: USD
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionCreateBatchTransactionRequest-properties-batchTransaction-properties-cardTransaction-items-properties-cardHolderInfo-properties-firstName
    : example: test first name
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionCreateBatchTransactionRequest-properties-batchTransaction-properties-cardTransaction-items-properties-cardHolderInfo-properties-lastName
    : example: test last name
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionCreateBatchTransactionRequest-properties-batchTransaction-properties-cardTransaction-items-properties-cardHolderInfo-properties-zip
    : example: "02453"
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionCreateBatchTransactionRequest-properties-batchTransaction-properties-cardTransaction-items-properties-creditCard-properties-cardNumber
    : example: "4263982640269299"
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionCreateBatchTransactionRequest-properties-batchTransaction-properties-cardTransaction-items-properties-creditCard-properties-expirationMonth
    : example: "02"
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionCreateBatchTransactionRequest-properties-batchTransaction-properties-cardTransaction-items-properties-creditCard-properties-expirationYear
    : example: "2023"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-TransactionInitiateRefundRequest-properties-reason:
      example: "Refund for order #1992"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-TransactionInitiateRefundRequest-properties-cancelSubscriptions:
      example: false
      type: boolean
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionInitiateRefundRequest-properties-transactionMetaData-properties-metaData-items-properties-metaValue
    : example: "1552,8832"
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionInitiateRefundRequest-properties-transactionMetaData-properties-metaData-items-properties-metaKey
    : example: refundedItems
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-TransactionInitiateRefundRequest-properties-transactionMetaData-properties-metaData-items-properties-metaDescription
    : example: Refunded Items
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-ShopperCreateVaultedShopperRequest-properties-paymentSources-properties-creditCardInfo-items-properties-creditCard-properties-expirationYear
    : example: 2023
      type: number
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-ShopperCreateVaultedShopperRequest-properties-paymentSources-properties-creditCardInfo-items-properties-creditCard-properties-securityCode
    : example: "837"
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-ShopperCreateVaultedShopperRequest-properties-paymentSources-properties-creditCardInfo-items-properties-creditCard-properties-expirationMonth
    : example: 2
      type: number
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-ShopperCreateVaultedShopperRequest-properties-paymentSources-properties-creditCardInfo-items-properties-creditCard-properties-cardNumber
    : example: "4263982640269299"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-ShopperCreateVaultedShopperRequest-properties-firstName:
      example: FirstName
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-ShopperCreateVaultedShopperRequest-properties-lastName:
      example: LastName
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-ShopperUpdateVaultedShopperRequest-properties-paymentSources-properties-creditCardInfo-items-properties-creditCard-properties-expirationYear
    : example: 2023
      type: number
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-ShopperUpdateVaultedShopperRequest-properties-paymentSources-properties-creditCardInfo-items-properties-creditCard-properties-securityCode
    : example: "837"
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-ShopperUpdateVaultedShopperRequest-properties-paymentSources-properties-creditCardInfo-items-properties-creditCard-properties-expirationMonth
    : example: 2
      type: number
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-ShopperUpdateVaultedShopperRequest-properties-paymentSources-properties-creditCardInfo-items-properties-creditCard-properties-cardNumber
    : example: "4263982640269299"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-ShopperUpdateVaultedShopperRequest-properties-firstName:
      example: FirstName
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-ShopperUpdateVaultedShopperRequest-properties-lastName:
      example: LastName
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-PlanCreateRecurringPlanRequest-properties-chargeFrequency:
      example: MONTHLY
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-PlanCreateRecurringPlanRequest-properties-gracePeriodDays:
      example: 10
      type: number
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-PlanCreateRecurringPlanRequest-properties-trialPeriodDays:
      example: 14
      type: number
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-PlanCreateRecurringPlanRequest-properties-initialChargeAmount:
      example: 100
      type: number
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-PlanCreateRecurringPlanRequest-properties-name:
      example: Gold Plan
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-PlanCreateRecurringPlanRequest-properties-currency:
      example: USD
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-PlanCreateRecurringPlanRequest-properties-maxNumberOfCharges:
      example: 12
      type: number
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-PlanCreateRecurringPlanRequest-properties-recurringChargeAmount:
      example: 29.99
      type: number
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-PlanCreateRecurringPlanRequest-properties-chargeOnPlanSwitch:
      example: true
      type: boolean
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-PlanUpdateRecurringPlanRequest-properties-chargeFrequency:
      example: MONTHLY
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-PlanUpdateRecurringPlanRequest-properties-trialPeriodDays:
      example: "7"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-PlanUpdateRecurringPlanRequest-properties-initialChargeAmount:
      example: "30"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-PlanUpdateRecurringPlanRequest-properties-name:
      example: Gold Plan
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-PlanUpdateRecurringPlanRequest-properties-currency:
      example: USD
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-PlanUpdateRecurringPlanRequest-properties-recurringChargeAmount:
      example: "19"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-SubscriptionCreateNewRequest-properties-payerInfo-properties-zip:
      example: "02453"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-SubscriptionCreateNewRequest-properties-payerInfo-properties-firstName:
      example: John
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-SubscriptionCreateNewRequest-properties-payerInfo-properties-lastName:
      example: Doe
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-SubscriptionCreateNewRequest-properties-payerInfo-properties-phone:
      example: "1234567890"
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-SubscriptionCreateNewRequest-properties-paymentSource-properties-creditCardInfo-properties-creditCard-properties-expirationYear
    : example: 2023
      type: number
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-SubscriptionCreateNewRequest-properties-paymentSource-properties-creditCardInfo-properties-creditCard-properties-securityCode
    : example: "111"
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-SubscriptionCreateNewRequest-properties-paymentSource-properties-creditCardInfo-properties-creditCard-properties-expirationMonth
    : example: "07"
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-SubscriptionCreateNewRequest-properties-paymentSource-properties-creditCardInfo-properties-creditCard-properties-cardNumber
    : example: "4111111111111111"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-SubscriptionCreateNewRequest-properties-planId:
      example: 2283845
      type: number
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-SubscriptionUpdateSubscriptionRequest-properties-planId:
      example: "2283849"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-SubscriptionCreateMerchantManagedSubscriptionRequest-properties-amount:
      example: 45
      type: number
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-SubscriptionCreateMerchantManagedSubscriptionRequest-properties-currency:
      example: USD
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-SubscriptionCreateMerchantManagedSubscriptionRequest-properties-payerInfo-properties-firstName
    : example: John
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-SubscriptionCreateMerchantManagedSubscriptionRequest-properties-payerInfo-properties-lastName
    : example: Doe
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-SubscriptionCreateMerchantManagedSubscriptionRequest-properties-payerInfo-properties-zip
    : example: "02453"
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-SubscriptionCreateMerchantManagedSubscriptionRequest-properties-payerInfo-properties-country
    : example: us
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-SubscriptionCreateMerchantManagedSubscriptionRequest-properties-paymentSource-properties-creditCardInfo-properties-creditCard-properties-expirationYear
    : example: 2026
      type: number
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-SubscriptionCreateMerchantManagedSubscriptionRequest-properties-paymentSource-properties-creditCardInfo-properties-creditCard-properties-securityCode
    : example: "111"
      type: string
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-SubscriptionCreateMerchantManagedSubscriptionRequest-properties-paymentSource-properties-creditCardInfo-properties-creditCard-properties-expirationMonth
    : example: 5
      type: number
      x-do-not-generate: true
    ? konfig-generated-schema-components-schemas-SubscriptionCreateMerchantManagedSubscriptionRequest-properties-paymentSource-properties-creditCardInfo-properties-creditCard-properties-cardNumber
    : example: "4012000033330026"
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-SubscriptionCreateMerchantManagedChargeRequest-properties-amount:
      example: 45
      type: number
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-SubscriptionCreateMerchantManagedChargeRequest-properties-currency:
      example: USD
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-SubscriptionCreateMerchantManagedChargeRequest-properties-merchantTransactionId:
      example: MyUniqueOnDemandSubscription
      type: string
      x-do-not-generate: true
    konfig-generated-schema-components-schemas-SubscriptionCreateMerchantManagedChargeRequest-properties-taxReference:
      example: 048deff0-a285-47e1-bc39-42f79bf0095b
      type: string
      x-do-not-generate: true
[...]
